
.cart__payment .header__content
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    align-items: center;
}
.cart__payment .cart__header
{
    border-bottom: 1px solid black;
}
.cart__payment .cart__body
{
    overflow-y: scroll;
    flex-grow:1;
    overflow-x: hidden;
}

.cart__payment .cart__footer
{
    padding: 20px;
    cursor: pointer;
} 

 .cart__payment
{
    background-color: white;
    width: 400px;
    height: 100vh;
    right: -100%;
    display: flex;
    z-index: 2;
    position: absolute;
    flex-direction: column;
    top: 0;
    position: fixed;
    box-shadow: 10px 7px 17px 10px #656262a8;
    transition: 0.4s;
}
.checkout 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    min-height: 50px;
    align-items: center;
    background-color: #f1f1f1!important;
    color: rgb(0, 158, 127);
    border-radius: 50px;
}
.checkout:hover {
        color: rgb(0, 158, 127) !important;
        text-decoration: none !important;
}
.checkout span
{
    padding:20px;
}
.checkout__total
{
    padding: 15px !important;
    margin: 5px;
    border-radius: 35px;
    background-color: white;
}

.cart__content
{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #b3adad7d;
}
.cart__content .decre_incre
{
  
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0d1136;
    padding: 0 !important;
    max-width: 30px;
    border-radius: 30px;
}
.cart__content .img__detail .row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart__content .img__detail img
{
width: 100%;
}
.cart__content .img__detail h6 {
    font-size: 14px;
   white-space: nowrap;
}
.cart__content .img__detail .col-6
{
    padding: 0 5px 0 5px !important;
}
.cart__content .pet__price {
    font-size: 14px;
    text-align: right;
}
.cart__burger   
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.burger
{
    width: 40px;
    height: 4px;
    background-color: #fff;
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    transition:all 0.4s ease-in-out;
}
.burger::before,.burger::after {
    content:'';
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(34, 12, 4);
    transition:all 0.4s ease-in-out;

}

.burger::before{
    transform: rotate(45deg) translate(35px,-35px);
}
.burger::after
{
    transform: rotate(-45deg) translate(35px,35px);
 
}

/* .cart__burger.open .burger{
    transform: translateX(-50px);
  
    background: transparent;
    box-shadow: none;


} */

/* .cart__burger.open .burger::before{
   transform: rotate(45deg) translate(35px,-35px);

}

.cart__burger.open .burger::after{
    transform: rotate(-45deg) translate(35px,35px);
 
 } */

 .cart__hidden
 {
     right: -100%;
 }
.cart__showed
{
    right: 0;
}


 .cart__icon
 {
   
    width: 70px;
    height: 70px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    right: 0;
    display: flex;
    background-color: #4bb048ad;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    flex-direction: column;
    top: 50%;
    position: fixed;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    transition: 0.4s;
    justify-content: center;
    align-items: center;
 }

 input{
     width: 130%;
     font-size: 15px;
 }