html {
    height: 100%;
}

body {
    font-family: Work Sans,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F7F7F7;
}

.detail__pet{
    line-height: 1.71429;
    width: 80%;
    margin: 0 auto;
  
}
#product .name ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 13px;
}
.name li{
    margin-left: 10px;
}
.name li:nth-child(2) i{
    color: #acacac;
}
.name a{
    color: #acacac;
}
.name p{
    text-decoration: underline;
}
#product .row{
    background: #fff;
    margin: 0;
    padding: 20px 0;
}
#product .pet{
    overflow: hidden;
    background: #fff;
    padding: 20px 0;
}

#product .pet a img{
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 1px 0px;
}
#product .pet a img:hover{
    border-color: #4bb048;
}
#carouselControls{
    position: relative;
    text-align: center;
    height: 100%;
}
#carouselControls i{
    color: #b1b1b1;
    overflow: hidden;
    
}
#carouselControls i:hover{
    color: #000;
}
.prev {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 100%;
    left: 0%;
    border: 1px solid #000;
}
.next {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 100%;
    left: 24px;
    border: 1px solid #000;
}
.zoom{
    overflow: hidden;
}
#product .pet .zoom img{
    width: 100%;
}
.zoom img:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
#product .petprice{
    padding: 20px 100px 20px 10px;
    line-height: 36px;
}
#product .petprice h1{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: -1px;
}
#product .petprice a{
    color: gray;
    position: relative;
    font-size: 12px;
}
#product .petprice .review{
    margin-bottom: 15px;
}
#product .petprice .review i{
    font-size: 12px;
    color: #4bb048;
}
#product .petprice .price{
    color: #4bb048;
    font-size: 36px;
    font-weight: 700 !important;
}
#product hr{
    margin: 45px 0px;
}
#product .addcart{
    display: flex;
}
#product #numProduct{
    width: 90px;
    height: 46px;
    text-align: center;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 10px;
    color: #000;
    font-weight: 400;
    border: 1px solid #e5e5e5;
    margin-right: 30px;
    margin-bottom: 5px;
}
#product #numProduct:focus{
    border-color: #4bb048;
    outline: 0;
}
#product .addcart button{
    border: none;
    background: #37383c;
    font-weight: 600;
    width: 65px;
    height: 46px;
    padding: 0;
    box-shadow: none;
}
#product .addcart button:hover{
    background: #4bb048;
}
#product .addcart button i{
    color: #fff;
    opacity: .5;
}
#product .addcart button:hover i{
    opacity: 1;
}
#product #add{
    border-radius: 4px 0 0 4px;
}
#product #reset{
    border-radius: 0px 4px 4px 0px;
}
#product .petprice p{
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.71429;
    color: #37383c;
}

#desvsre{
    background: #fff;
    margin-top: 5px;
    padding: 45px 8.33% 50px;
}
#desvsre #pills-tab{
    padding: 0;
    margin: 0;
}
#desvsre #pills-tab a{
    background: #fff;
    color: #999; 
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
#desvsre #pills-tab a:hover{
    color: #4bb048;
    text-decoration: none !important;
}
#desvsre #pills-tab a:focus{
    color: #000;
    text-decoration: none !important;
}
#desvsre #pills-home p{
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 24px;
}
/* #desvsre .active a{
    color: #000;
} */
.nav-pills .nav-link.active{
    color: #000 !important;
}
.more{
    margin-top: 50px;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-bottom: 50px;
}
.more a:hover img{
    border-color: #4bb048;
}
.title{
    font-family: 'Passero One';
    display: flex;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
    padding: 14px 40px;
    background: #fff;
}
.title i{
    left: 0;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    margin-left: -50px;
    color: #4bb048
}
