.cart{
    background: #F2F2F2;
}
.payment{
    width: 75%;
    margin: 0 auto;
}
.payment .contain .title{
    padding: 20px 20px;
    margin: 10px 0; 
    background: #fff;
    border-radius: 5px;
}
.title h1{
    font-size: 30px;
    font-weight: 700;
}
.contain .product{
    padding: 10px 20px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
}
.contain .productImg img{
    width: 100%;
}
.product h4{
    font-weight: 500;
    font-size: 30px;
}
.product p{
    font-size: 20px;
    font-weight: 500;
    color: #4bb048;
}
.product .number{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
}
.product .number input{
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
}

.product .number button{
    border: none;
    border-radius: 50%;
}
.product button:focus{
    border-radius: 50% !important;
    border-color: transparent;
}
.product i{
    color: rgb(173, 173, 173);
}
.number .delete{
    position: absolute;
    top: 0%;
    left: 70%;
}

.product .delete button{
    background: transparent;
    border: none;
}
.product .delete i{
    color: #000;
}
.buy{
    margin: 10px 0;
    
}
.pay{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}
.pay h1{
    margin-bottom: 20px;
}
.pay .price{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.pay .total{
    align-items: center;
}
.pay .total p:nth-child(1){
    font-size: 14px;
    font-weight: 700;
}
.pay .total p:nth-child(2){
    font-size: 24px;
    font-weight: 700;
}
.pay button{
    width: 100%;
    padding: 10px 10px;
    border: none;
    background: #FF5959;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.checkout__input {
	margin-bottom: 24px;
}

.checkout__input p {
	color: #1c1c1c;
	margin-bottom: 20px;
}

.checkout__input p span {
	color: #dd2222;
}

.checkout__input input {
	width: 100%;
	height: 46px;
	border: 1px solid #ebebeb;
	padding-left: 20px;
	font-size: 16px;
	color: #000;
	border-radius: 4px;
}

.checkout__input input.checkout__input__add {
	margin-bottom: 20px;
}

.checkout__input input::placeholder {
	color: #b2b2b2;
}

.checkout__input__checkbox {
	margin-bottom: 10px;
}

.checkout__input__checkbox label {
	position: relative;
	font-size: 16px;
	color: #1c1c1c;
	padding-left: 40px;
	cursor: pointer;
}

.checkout__input__checkbox label input {
	position: absolute;
	visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
	background: #7fad39;
	border-color: #7fad39;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
	opacity: 1;
}

.checkout__input__checkbox label .checkmark {
	position: absolute;
	left: 0;
	top: 4px;
	height: 16px;
	width: 14px;
	border: 1px solid #a6a6a6;
	content: "";
	border-radius: 4px;
}

.checkout__input__checkbox label .checkmark:after {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 10px;
	height: 8px;
	border: solid white;
	border-width: 3px 3px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
	content: "";
	opacity: 0;
}
i{
    font-size: 35px;
    margin-right: 10px;
}

h1{
    font-size: 2rem;
    color: green;
}
.cal_ship{
    margin: 1em;
    padding: .5em 1em .5em 1em;
    background: #FF5959;
    color: #fff;
    border: none;
    border-radius: 10px;
}
